* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.container {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #4ECCA3;
    margin-bottom: 20px;
}

.game {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.dice {
    text-align: center;
    display: inline-block;
}

h2 {
    font-size: 1.8rem;
    color: #4ECCA3;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    border: 2px solid transparent;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.1);
}

img.selected {
    border: 2px solid #4ECCA3;
}

.buttons {
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4ECCA3;
    color: white;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c9a7f;
}
